<form  class="btn-delete" method="post" action="{{ path('app_scope_delete', {'id': scope.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scope.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
</form>
