{% extends 'base.html.twig' %}

{% block title %}New TypeEvent{% endblock %}

{% block body %}
    <h1>Créer un type d'évènement</h1>

    {{ include('type_event/_form.html.twig') }}

    <a href="{{ path('app_type_event_index') }}">Revenir à la liste</a>
{% endblock %}
